/* GENERAL STYLES */

@font-face {
    font-family: 'SSP';
    src: url('fonts/SourceSansPro-Black.otf') format('opentype');
    
    font-family: 'SSP2';
    src: url('fonts/SourceSansPro-Light.otf') format('opentype');
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'SSP', sans-serif;
    color: #071629;
    /* background-color: red; */
}

h1, p {
    max-width: 1000px;
    margin: auto auto;
}

p {
    font-family: 'SSP2', sans-serif;
}

button {
    font-family: 'SSP', sans-serif;
    border-radius: 90px;
    border: 0;
    background-color: #FF6565;
    color: white;
    margin-top: 2rem;
    padding: 1rem 2rem;
}

button:hover {
    opacity: 0.9;
}

.button-text {
    font-size: 14px;
}

a:hover {
    color: #FF6565;
}

.big-text-block {
    max-width: 637px;
    margin-top: 3rem;
    padding-bottom: 5rem;
    line-height: 26px;
}

/* Header */
.header {
    background-image: url('images/headphones_hero_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    color: white;
}

header {
    width: 75%;
    margin: auto auto;
    padding-top: 3rem;
    display: flex;
}

.header-logo {
    height: 35px;
}
.header-logo-div {
    flex: 1;
    text-align: left;
}
.header-links-div {
    flex: 1;
    text-align: right;
    white-space: nowrap;
    font-size: 12px;
    line-height: 35px;
    font-family: 'SSP2', sans-serif;
}
.header-links-div a {
    color: white;
    text-decoration: none;
    margin-left: 3rem;
}

.main-title {
    font-size: 32px;
    padding-top: 10rem;
}
.main-sub-title {
    margin-top: 0;
}

/* WHAT WE DO */
.what-we-do p{
    margin-bottom: 5rem;
}

.wwd-title {
    margin-top: 6rem;
    margin-bottom: 3rem;
    font-size: 32px;
}

.big-text-block-2 {
    max-width: 637px;
    margin-top: 3rem;
    line-height: 26px;
}

.icons {
    width: 70%;
    margin: auto auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.icons h1 {
    font-size: 18px;
    margin: 1rem;
}
.icons p {
    font-size: 14px;
    max-width: 207px;
    line-height: 26px;
}

.icon {
    flex: 0 0 calc(25% - 10px);
}

.ico {
    height: 65px;
}

/* OUR RESULTS */
.our-results {
    color: white;
    background-image: url('images/headphones_hero_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.or-title {
    padding-top: 6rem;
    margin-bottom: 3rem;
    font-size: 32px;
}

.pentagons {
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin: 3rem auto auto;
    padding-bottom: 5rem;
}

.pentagon {
    background-image: url('images/pentagone.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    max-width: 20%;
    padding: 3rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.pentagon h1 {
    padding-top: 1rem;
    font-size: 46px;
}
.pent-p {
    font-size: 14px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}

/* CONTACT US */
.contact-us {
    height: 250px;
    width: 20rem;
    margin: auto auto 12rem;
}

.cu-title {
    margin-top: 5rem;
    font-size: 32px;
}

form {
    margin-top: 3rem;
}

.form-div {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    display: inline-flex;
}
.form-label {
    margin-top: 1rem;
    color: #071629;
    font-size: 14px;
    /* font-family: SourceSansPro; */
    font-weight: 600;
    word-wrap: break-word
}
.form-input {
    width: 50%;
    margin-top: 1rem;
    width: 100%;
    height: 1px;
    opacity: 0.17;
    background: #071629
}

/* input {
    text-align: center;
    border: none;
    border-bottom: 1px solid #979797;
    margin: auto;
} */

/* FOOTER */
footer {
    height: 250px;
    color: white;
    background-color: #071629;
}

footer p {
    opacity: 35%;
    padding-top: 5rem;
}

.footer {
    display: flex;
    width: 75%;
    padding-top: 5rem;
    margin: auto auto auto;
}
.footer-logo {
    flex: 0 0 calc(50% - 10px);
    text-align: left;
}
.footer-links {
    flex: 0 0 calc(50% - 10px);
    text-align: right;
}
.footer-links a {
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Media query for tablets */
@media only screen and (min-width: 480px) and (max-width: 1024px) {
    .icon {
        flex: 0 0 calc(50% - 10px);
    }
    .pentagons {
        flex-wrap: wrap;
        padding-bottom: 0;
    }
    .pentagon {
        flex: 0 0 calc(50% - 10px);
        margin-bottom: 4rem;
    }
}

/* Media query for phones */
@media only screen and (max-width: 480px) {
    header {
        flex-direction: column;
        text-align: center;
    }
    .header-logo-div {
        /* flex: 0 0 calc(100% - 10px); */
        text-align: center;
    }
    .header-links-div {
        /* flex: 0 0 calc(100% - 10px); */
        text-align: center;
        display: flex;
        flex-direction: column;
        /* white-space: wrap */
    }
    .header-links-div a {
        margin: auto;
    }
    .icon {
        flex: 0 0 calc(100% - 10px);
    }
    .pentagons {
        flex-wrap: wrap;
        padding-bottom: 0;
    }
    .pentagon {
        flex: 0 0 calc(100% - 10px);
        margin-bottom: 4rem;
    }
    .footer {
        flex-wrap: wrap;
    }
    .footer-logo {
        flex: 0 0 calc(100% - 10px);
        text-align: center;
    }
    .footer-links {
        flex: 0 0 calc(100% - 10px);
        text-align: center;
        margin-top: 2rem;
    }
}