/* GENERAL STYLES */

@font-face {
    font-family: 'SSP';
    src: url('fonts/SourceSansPro-Black.otf') format('opentype');
    /* Add additional formats here if needed */
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'SSP', sans-serif;
    /* background-color: red; */
}

h1, p {
    max-width: 1000px;
    margin: auto auto;
}

button {
    border-radius: 90px;
    background-color: #FF6565;
    color: white;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
}

button:hover {
    opacity: 0.9;
}

.button-text {
    font-size: 14px;
}

a:hover {
    color: #FF6565;
}

.big-text-block {
    max-width: 637px;
    margin-top: 3rem;
    padding-bottom: 5rem;
}

/* Header */
.header {
    background-image: url('images/headphones_hero_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    color: white;
}

header {
    width: 75%;
    margin: auto auto;
    padding-top: 3rem;
    display: flex;
}

.header-logo {
    height: 35px;
}
.header-logo-div {
    flex: 1;
    text-align: left;
}
.header-links-div {
    flex: 1;
    text-align: right;
}
.header-links-div a {
    color: white;
    text-decoration: none;
    margin-left: 3rem;
}

.main-title {
    font-size: 32px;
    padding-top: 10rem;
}
.main-sub-title {
    margin-top: 0;
}

/* WHAT WE DO */
.what-we-do {
}

.icons {
    display: flex;
    justify-content: space-between;
}

.icon {
    flex: 1;
}

.ico {
    height: 65px;
}

/* OUR RESULTS */
.our-results {
    color: white;
    background-image: url('images/headphones_hero_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.pentagons {
    display: flex;
    justify-content: space-around;
}

.pentagon {
    background-image: url('images/pentagone.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* CONTACT US */
.contact-us {
    height: 250px;
}

input {
    border: none;
    border-bottom: 1px solid #979797; /* Add bottom border */
}

/* FOOTER */
footer {
    height: 250px;
    color: white;
    background-color: #071629;
}

footer p {
    opacity: 35%;
}

/* Media query for tablets */
@media only screen and (min-width: 480px) and (max-width: 1024px) {
    /* Styles for tablets go here */
}

/* Media query for phones */
@media only screen and (max-width: 480px) {
    /* Styles for phones go here */
}